body {
	background-color: #ced6e0;
	font-family: 'Montserrat', sans-serif;
}

header {
	padding-top: 25px;
	padding-bottom: 15px;
	background-color: #FFC312;
}

.obrigatorio{
	color: red;
}

.form-check-label,
.form-check-input {
	margin-bottom: 20px;
}

.navitembg {
	color: blue;
	background-color: #FFC312;
}

.container-products {
	margin-top: 20px;	
}

.anunciar {
	display: none;
}

.modal-hide {
	
}